<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newsam="{{eaten}}">
		{{#if eaten}}EAT ME!{{else}}NEW ONE!{{/if}}
	</button>

	<button class="delete-sandwich" data-id="{{this.id}}">DELETE!</button>
</li>
